<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
   <p> Theme: <%= prompt.promptTheme %></p>
   <p> Text: <%= prompt.promptText %></p>
   <% for(var i=0; i< prompt.stories.length; i++) { %>
      <a href="/stories/<%= prompt.stories[i]._id %>"><p> Hook: <%= prompt.stories[i].storyHook%></p></a>
   <% } %>
   <a href="/stories/new/<%= prompt._id %>" class="btn btn-primary">New Story</a>
<a href="/stories/edit" class="btn btn-danger">Edit Prompt</a>

   <!-- For Each loop for the hooks of stories -->
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
