<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<div class="page-wrap">
<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

<main class="page-wrap">

  <h2 id='storyShowTheme'><%= story.prompt.promptTheme %></h2>


<div id="storyShow">

    <div class="storyShowPromptText">
  <h3><%= story.prompt.promptText %></h3>
  </div>

  <div class="storyShowHook">
   <h4><%= story.storyHook %></h4>
  </div>

   <div class="storyShowStoryText">
  <h5><%= story.storyText %></h5>
  </div>
</div>


<% if (currentUser) { %>
  <a href="/stories/edit/<%= story._id %>" class="btn btn-primary pull-right">
  Edit Story
    <i class="fa fa-cog fa-spin fa-lg fa-fw"></i>
<span class="sr-only">Loading...</span>
  </a>

<% } %>
  <div>
<input type="hidden" id="prompttext" name="prompt" value="<%= story.prompt %>">
</div>

  </main>
</div>

  <footer class="site-footer">
    <% include ../partials/footer %>
  </footer>
</body>
</html>
