<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
  <h2><%= story.prompt.promptTheme %></h2>
  <h3><%= story.prompt.promptText %></h3>


  <div class="hook">
  <p> Hook: <%= story.storyHook %></p>
  </div>
  <div class="text">
  <p> Text: <%= story.storyText %></p>
  </div>



  <a href="/stories/edit/<%= story._id %>" class="btn btn-primary">Edit Story</a>

  <div>
<input type="hidden" id="prompttext" name="prompt" value="<%= story.prompt %>">
</div>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
